.header {
  position: relative;
  z-index: $indexHeader;
  display: flex;
  justify-content: space-between;

  .logo {
    margin: $gutter;

    span {
      position: relative;
      color: $primaryColor;
      font-size: $fontSizeH2;
      font-weight: $fontWeightBlack;

      a {
        text-decoration: none;
      }

      small {
        position: absolute;
        z-index: 1;
        right: -12px;
        top: $gutter/2;
        color: #b5b5b5;
        font-family: "Lato";
        font-weight: $fontWeightLight;
        font-size: $fontSize;
      }
    }
  }
}
