.btn {
  width: 180px;
  height: 46px;
  border: 0 none;
  border-radius: $gutter * 2;
  color: $white;
  font-size: $fontSize;
  font-family: $fontFamily;
  font-weight: $fontWeight;
  text-align: center;
  outline: none;
}

@mixin btnPrimary() {
  @extend .btn;
  background-color: $primaryColor;

  &.outline {
    background-color: $white;
    border: 1px solid $primaryColor;
    color: $primaryColor;
  }
}

@mixin btnSecondary() {
  @extend .btn;
  background-color: $secondaryColor;

  &.outline {
    background-color: $white;
    border: 1px solid $secondaryColor;
    color: $secondaryColor;
  }
}
