$fontFamily: "Lato";

$fontSizeSmall: 13px;
$fontSize: 16px;
$fontSizeH1: 36px;
$fontSizeH2: 26px;
$fontSizeH3: 24px;
$fontSizeH4: 22px;
$fontSizeH5: 20px;
$fontSizeH6: 18px;

$fontWeightThin: 100;
$fontWeightLight: 300;
$fontWeight: 400;
$fontWeightBold: 700;
$fontWeightBlack: 900;

$primaryColor: #66c1de;
$primaryColorLight: lighten($primaryColor, 30%);
$primaryColorDark: darken($primaryColor, 30%);

$secondaryColor: #de66c1;
$secondaryColorLight: lighten($secondaryColor, 30%);
$secondaryColorDark: darken($secondaryColor, 30%);
$accentColor: "";

$textColor: #0c2e39;
$textColorLight: #5e737a;
$textColorLighter: lighten($textColorLight, 30%);

$white: #fff;
$black: #000;
$gray: darken($white, 50%);
$grayLight: lighten($black, 90%);
$grayLighter: lighten($black, 95%);
$grayLightest: lighten($black, 98%);

$bgBody: $white;

$indexHeader: 3;
$indexMain: 2;
$indexFooter: 1;

$gutter: 8px;

$heightHeader: 70px;
$heightFooter: 407px;

$widthMax: 340px;
$widthMin: 323px;
